body{
  background-color:#95afc0;
}

input{
  all:unset;
}

input::placeholder {
  color: #dff9fb;
}

input:focus::placeholder {
  color: transparent;
}

li{
  all:unset;
}

.screen-header{
  width:100vw;
  height:10vh;
  display:flex;
  justify-content:flex-end;
  align-items:center;
}

.screen-header span{
  margin-right:25px;
  font-size:20px;
  color:white;
}

.js-clock{
  width:100vw;
  height:70vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.js-title{
  color:white;
  font-size: 140px;
  margin: 0px;
}

.js-form{
  padding:0px;
  margin-left:150px;
}

.greeting-text{
  color: white;
  font-size: 50px;
}

.toDoRow{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.js-toDoForm{
  margin-left:170px;
  font-size:30px;
  color:white;
}

.btn{
  cursor: pointer;
}

.clicked{
  color:#74f88d;
}

.form,
.greeting{
  display: none;
}

.showing{
  display: block;
}

.bgImage{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.text{
  color:#dff9fb;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  ro {
    opacity: 1;
  }
}